.job-detail {
  margin-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.job-detail > div, .job-detail > mat-divider {
  margin-top: 10px;
}

.error {
  background-color: red;
  color: white;
}

.success {
  background-color: green;
  color: white;
}

.pending {
  background-color: orange;
  color: white;
}

.job-task-status {
  margin-left: 20px;
}

.action-buttons button {
  margin-left: 10px;
}

.task-status-item {
  width: 100%;
}

.task-status-item mat-chip {
  width: 110px;
  text-align: center;
}

.remarks {
  color: #939393;
  font-size: 14px;
}
